/* Global */

h1, h2, h3, h4, ul, p{
    margin: 0;
    padding: 0;
}

ul{
    list-style: none;
}

body{
    margin: 0;
    padding: 0;
    background-image: url(../images/old_moon/old_moon_@2X.jpg);
    box-sizing: border-box;
    color: #777;
    font-family: 'Arial', 'Helvetica Neue', 'Helvetica', sans-serif;
}

.clearfix{
    clear: both;
}

/* Main Container and Wrapper*/


.wrapper{
    min-height: calc(100vh - 75px);
} /* This is only here for the sticky footer */

.container{
    width: 956px;
    margin: 1em auto 0 auto;
    background-color: #ffffff;
    padding: 20px 0;
    border: 2px #dddddd solid;
    animation-name: fadeIn;
    animation-duration: 1.5s;
    animation-fill-mode: forwards;
}


.inside{
    padding: 0 20px;
}

.container-secondary{
    width: 640px;
    margin: 1em auto 0 auto;
    background-color: #ffffff;
    padding: 20px 0;
    border: 2px #dddddd solid;
    animation-name: fadeIn;
    animation-duration: 1.5s;
    animation-fill-mode: forwards;
}


/* Header and Footers for All Pages */

header{
    background-color: white;
    height: 75px;
    font-family: Georgia, Times, 'Times New Roman', serif;
}

.main-header{
    width: 960px;
    overflow: hidden;
    margin: 0 auto;
}

.main-header-secondary{
    width: 640px;
    margin: 0 auto;
}

.name{
    float: left;
    color: white;
    background-color: #4aaaa5;
    padding: 20px 10px 19px 10px;

}

nav{
    float: right;
    margin-top: 30px;
}

nav li{
    float: left;
    padding: 0 10px;
    cursor: pointer;
}

    /* Different for using javascript or not */
    /* Use nav a and original li content on html if not using js */

.navli, nav a{
    color: #555;
    text-decoration: none;
    font-size: 22px;
    position: relative;
}

.middleA{
    border-left: 1px #777 solid;
    border-right: 1px #777 solid;
    padding: 0 10px;
}

.navli:hover, nav a:hover{
    text-decoration: underline;
    color: #4aaaa5;
}

.topFootLine{
    height: 5px;
    width: 100%;
    background-color: #4aaaa5;
}

.footContent{
    width: 100px;
    text-align: center;
    color: lightgrey;
    margin: 20px auto;
    font-size: 12px;
}

footer{
    height: 75px;
    width: 100%;
    background-color: #666;
    text-align: center;
}

.tab-nav{
    height: 15px;
    width: 15px;
    border-radius: 50%;
    margin: auto;
    background-color:#4aaaa5;
    border: 10px #333 solid;
    display: none;
}

.small-nav{
    display: none;
    height: 0;
    background-color: white;
    color: #333;
    padding-left: 20px;
}

.hideMe{
    display: none;
}

.smallA{
    color: #333;
    text-decoration: none;
    font-size: 20px;
}

.small-nav li{
    margin-bottom: 10px;
}

/* About/Index page styles */

.imageBox{
    float: left;
    margin: 20px 10px 0 0;
    height: 200px;
    width: 300px;
}

.content{
    line-height: 1.5;
    margin-top: 20px;
}

.topSection{
    color: #4aaaa5;
    border-bottom: 1px #ccc solid;
}

.topSection h2{
    font-size: 26px;
    padding: 10px 0 20px 0;
}

.topSection h3{
    font-size: 20px;
    padding: 8px 0 16px 0;
}


/* Contact Page */

.fullInput{
    width: 100%;
    display: block;
    font-size: 16px;
    margin-top: 10px;
}

.form{
    margin-top: 1em;
}

.btn{
    outline: none;
    border: 1px #777777 solid;
    padding: 5px 10px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 18px;
    background-color: #4aaaa5;
    color: #ccc;
}

.btn:hover{
    color: #4aaaa5;
    background-color: #ccc;
}


/* Portfolio Page */

.box{
    height: 125px;
    width: 175px;
    margin: 10px 20px 10px 0;
    float: left;
    position: relative;
}

#box1{
    background-image: url(../images/portPics/boardGame.jpeg);
    animation-name: fadeIn;
    animation-duration: 2.5s;
    animation-fill-mode: forwards;
}

#box2{
    background-image: url(../images/portPics/keyboard.jpeg);
    animation-name: fadeIn;
    animation-duration: 3.0s;
    animation-fill-mode: forwards;
}

#box3{
    background-image: url(../images/portPics/math.jpeg);
    animation-name: fadeIn;
    animation-duration: 3.5s;
    animation-fill-mode: forwards;
}

#box4{
    background-image: url(../images/portPics/retroGame.jpeg);
    animation-name: fadeIn;
    animation-duration: 4.0s;
    animation-fill-mode: forwards;
}

#box5{
    background-image: url(..//images/portPics/yahtzee.jpg);
    animation-name: fadeIn;
    animation-duration: 4.5s;
    animation-fill-mode: forwards;
}

.picArea{
    width: 500px;
    margin-top: 20px;
    overflow: hidden;
}

.portTitle{
    background-color: #4aaaa5;
    color: #fff;
    position: absolute;
    bottom: 10px;
    width: 100%;
    text-align: center;
    padding: 10px 0;
    font-size: 15px;
}

/* Animation keyframes */

@keyframes fadeIn{
    0% {opacity: 0};
    100% {opacity: 1};
}

/* Media Queries */

@media(max-width: 1100px) {
    .container{
        width: 640px;
    }

    .main-header{
        width: 640px;
    }
}

@media(max-width: 700px) {
    .name{
        float: none;
        width: 100%;
        text-align: center;
    }

    nav{
        float: none;
        width: 100%;
        text-align: center;
        margin: auto;
        display: none;
    }

    nav ul{
        margin: 0 auto;
    }

    nav ul li{
        float: none;
        display: inline;
    }

    .main-header{
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .main-header-secondary{
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    

    header{
        height: fit-content;
        width: 100%;
    }

    .imageBox{
        float: none;
        display: block;
        margin: 1em auto;

    }

    .container{
        width: 100%;
    }

    .container-secondary{
        width: 100%;
    }

    .topSection{
        text-align: center;
    }

    .box{
        float: none;
        margin: 10px auto;
    }

    .picArea{
        width: 100%;
    }

    .fullInput{
        width: 90%;
        border: 1px black solid;
        margin: 0 5px;
    }

    label{
        margin: 0 5px 10px 5px;
    }

    .inside{
        padding: 5px;
    }

    .tab-nav{
        display: block;
    }
}